*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 420px;
    margin: 40px auto;
}

.input-form {
    display: flex;
    align-items: flex-end;
}

input {
    max-width: 160px;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.btn-ok {
    padding: 5px 10px;
    font-size: 18px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

.list {
    margin: 0;
    padding: 0 20px;
    border: solid 1px #000000;
    border-radius: 5px;
}

.list-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 0.4;
}

.btn-edit,
.btn-del {
    font-size: 18px;
    background-color: white;
    border: none;
    cursor: pointer;
}